<!-- @questions.each do |question| -->
<%= form_for(@question, url: questions_create_url, :html => {:class => 'form-group col-md-6 col-md-offset-2 question', :style => 'margin-top: 50px'}) do |f| %>
    <div>
      <table>
        <tbody>
        <tr>
          <td>
            <%= f.label 'Title', {class: 'question-title'} %>
          </td>
          <td>
            <%= f.text_field :title, {id: 'title-text', class: 'question-title form-control', placeholder: 'What is your health question? Be specific'} %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <%= f.text_area :content, {class: 'field text-field question', placeholder: 'Input your question here'} %>
    </div>

    <div>
        <%= f.text_field :tags_text, {id: 'tags', class: 'form-control text-field field tags', placeholder: 'Input your tags here'} %>
    </div>

    <div>
      <%= f.submit 'Post question', {class: 'btn btn-primary field'} %>
    </div>
<% end %>