<!-- @questions.each do |question| -->
<% @questions.each do |question| %>
<div class="container">
  <div id="sub-header">
    <h1>All questions</h1>
  </div>

  <div class="question-summary">
    <div class="stats-container">
      <div class="stats">
        <div class="votes">
            <strong>0</strong>
            votes
        </div>
        <div class="answers">
            <strong>0</strong>
            answers
        </div>
      </div>
      <div class="views">2 views</div>
    </div>
    <div class="summary">
      <h3>
        <a>VB.Net Set SplitContainer Height with Vertical Orientation</a>
      </h3>

      <div>I'm using a SplitContainer with vertical Orientation, and I need to set the height of it depending on a
        DataGrid inside Panel1... How can I set the Height of the entire SplitContainer in Runtime? The ...
      </div>

      <div class="tags">
        <a class="post-tag" href="/questions/tagged/jquery">jquery</a>
        <a class="post-tag" href="/questions/tagged/html5">html5</a>
        <a class="post-tag" href="/questions/tagged/sortable">sortable</a>
      </div>
      <div class="more-info">
        <a class="post-time" href="">asked 21s ago</a>
        <a href="" class="user">Nick Miller</a>
      </div>
    </div>
  </div>
</div>
<% end %>