<%= form_for(@user_dashboard) do |f| %>
  <% if @user_dashboard.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user_dashboard.errors.count, "error") %> prohibited this user_dashboard from being saved:</h2>

        <ul>
          <% @user_dashboard.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
