<h1>Listing user_dashboards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_dashboards.each do |user_dashboard| %>
      <tr>
        <td><%= link_to 'Show', user_dashboard %></td>
        <td><%= link_to 'Edit', edit_user_dashboard_path(user_dashboard) %></td>
        <td><%= link_to 'Destroy', user_dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User dashboard', new_user_dashboard_path %>
