<% provide page_title='Sign in' %>
<%= form_for(:session, :url => signin_path, :html => {:class => 'form-signin', :role => 'form'}) do |f| %>
    <div class="panel panel-primary">
      <div class="panel panel-heading">Sign in</div>
      <div class="panel-body">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email address' %>
        <%= f.password_field :password, class: 'form-control', style: 'margin-top: 5%', placeholder: 'Password' %>
        <%= link_to 'forgot your password?', forgot_password_path, {:style => 'float: right; margin-bottom: 2%; margin-top: 2%;'} %>
        <%= f.submit class: 'btn btn-lg btn-primary btn-block', value: 'Sign In' %>
      </div>
    </div>
<% end %>