<%= form_for(@user, :html => {:class => 'form-group col-md-6'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name, class: 'form-control', placeholder: 'Your display name' %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control', placeholder: 'This email will not be shared for anyone' %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control', placeholder: 'At least 6 characters' %>
  </div>

   <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
