<%= form_for(@unanswered_dashboard) do |f| %>
  <% if @unanswered_dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unanswered_dashboard.errors.count, "error") %> prohibited this unanswered_dashboard from being saved:</h2>

      <ul>
      <% @unanswered_dashboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
