<h1>Listing unanswered_dashboards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unanswered_dashboards.each do |unanswered_dashboard| %>
      <tr>
        <td><%= link_to 'Show', unanswered_dashboard %></td>
        <td><%= link_to 'Edit', edit_unanswered_dashboard_path(unanswered_dashboard) %></td>
        <td><%= link_to 'Destroy', unanswered_dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unanswered dashboard', new_unanswered_dashboard_path %>
