// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  margin-left: 50px;
}

#tags {
  margin-top: 10px;
}

input.question-title {
  float: left;
  font-size: 12px;
}

textarea.question {
  height: 200px;
}

label.question-title {
  width: 50px;
  text-align: left
}

#tags, .text-field {
  width: 600px;
}

textarea.text-field {
  margin-top: 20px
}

#title-text {
  width: 600px;
}

#question_content {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}