// Place all the styles related to the QuestionDashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stats {
  background: none repeat scroll 0 0 #eee;
  padding: 4px 7px 6px;
}

.stats-container {
  float: left;
  margin-right: 8px;
  width: 86px;
}

.question-summary {
  border-bottom: 1px solid #eaeaea;
  float: left;
  overflow: hidden;
  padding: 11px 0;
  width: 730px;
}

.votes {
  color: #555;
  padding: 0 0 7px;
  text-align: center;
}

strong {
  display: block;
  font-size: 140%;
  height: 20px;
}

.view {
  color: #999;
  padding-top: 4px;
  text-align: center;
}

.answers {
  color: #9a4444;
  text-align: center;
}

.views {
  text-align: center;
  color: #999;
}

.summary {
  float: left;
  width: 635px;
}

.summary h3 {
  font-size: 130%;
}

.tags {
  float: left;
  line-height: 18px;
}

a.post-tag {
  background-color: #e0eaf1;
  border-bottom: 1px solid #b3cee1;
  border-right: 1px solid #b3cee1;
  color: #3e6d8e;
  display: inline-block;
  font-size: 90%;
  line-height: 1.4;
  margin: 2px 2px 2px 0;
  padding: 3px 4px;
  text-decoration: none;
  white-space: nowrap;
}

.summary h3 {
  margin-top: 0px;
}

.more-info {
  float: right;
  line-height: 18px;
  width: 185px;
}

.more-info .post-time {
  color: #999;
}

.more-info .user {
  color: #428bca
}