// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin {
  margin: 0 auto;
  max-width: 330px;
}

.btn {
  margin-top: 5%
}

.form-signin .form-control {
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}

.flash {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1%;
  border: 1px solid #97c1da;
  padding: 15px;
}

.flash-error {
  background-color: #efd0d0;
  background-image: linear-gradient(#f8d8d8, #efd0d0);
  background-repeat: repeat-x;
  border-color: #da9797;
  color: #911;
}
