<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:page_title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HealthQA</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><%= link_to "Signout", signout_path %></li>
            <li><%= link_to "Settings" %></li>
        <% else %>
            <li><%= link_to "Signup", signup_path %></li>
            <li><%= link_to "Login", signin_path %></li>
        <% end %>

        <li><%= link_to "Tour" %></li>
        <li><%= link_to "Help" %></li>
      </ul>
    </div>
  </div>
</div>

<div class = "container">
  <ul id = "header" class="nav nav-pills" style = "float: right">
    <%= header_tag 'Questions', questions_path, QuestionsController %>
    <%= header_tag 'Tags', users_path, QuestionDashboard %>
    <%= header_tag 'Users', users_path, QuestionDashboard %>
    <%= header_tag 'Unanswered', users_path, QuestionDashboard %>
    <%= header_tag 'Ask Question', questions_ask_path, QuestionDashboard, 'glyphicon-question-sign'%>
  </ul>
</div>

<div class = "container">
  <% flash.each do |key, value| %>
      <div class = "flash flash-<%= key %> "> <%= value %> </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
